.vscode/*
!.vscode/launch.json
.DS_Store
.idea/

# Build and test artifacts
branch-out.log
branch-out.log.*
*.log.json
dist/
branch-out

# Generated test debugging output
Test*/
!test_package/
!testhelpers/
!testdata/
branch-out
!branch-out/
json.log

# Common debug file
x.json

coverage.out
coverage.html

.env
.envrc

# secrets
*.pem
